@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 800;
  src: local('Futura PT'), local('Futura PT'),
       url('../../public/static/fonts/ghostbold-webfont.woff2') format('woff2'),
       url('../../public/static/fonts/ghostbold-webfont.woff') format('woff');
}
